body {
    margin: 0;
    background-color: #0c1f3f;
    color: white;
    font-family: Segoe UI, Arial;
}

.container {
    text-align: center;
    margin-top: 120px;
}

h1 {
    font-size: 28px;
}

p {
    color: #ccc;
}

input {
    padding: 12px;
    width: 250px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0078d7;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 12px;
}